@using uWebshop.API

@if (Membership.GetUser() == null)
{
	<h3 class="text-right">Create your acccount!</h3>
	using (Html.BeginUmbracoForm("Handle", "BasketHandler", null, new {@class = "form-horizontal"}))
	{
		<input type="hidden" name="createAccount" id="createAccount" value="createAccount"/>

		<div class="form-group">
			<label for="userName" class="col-lg-4 control-label">Email address</label>
			<div class="col-lg-8">
				<input type="text" class="form-control" id="userName" name="userName" value="@Customers.GetCustomerValueFromSessionOrProfile("userName")"/>
			</div>
		</div>

		<div class="form-group">
			<label for="password" class="col-lg-4 control-label">Password</label>
			<div class="col-lg-8">
				<input type="password" class="form-control" id="password" name="password"/>
			</div>
		</div>

		<div class="form-group">
			<label for="validatePassword" class="col-lg-4 control-label">Validate Password</label>
			<div class="col-lg-8">
				<input type="password" class="form-control" id="validatePassword" name="validatePassword"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-4 col-lg-10">
				<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Create Account</button>
			</div>
		</div>
	}

}