@using uWebshop.RazorExtensions
@inherits umbraco.MacroEngines.DynamicNodeContext

	@{
		var topSellingProducts = Catalog.AllProducts().OrderByDescending(x => x.OrderCount).Take(3);
	
		if (topSellingProducts.Any())
		{
			<ul class="nav">
				<li><strong>Top selling products</strong></li>
				@foreach (var product in topSellingProducts)
				{
					<li><a href="@product.NiceUrl()" title="@product.Title">@product.Title</a></li>
				}
			</ul>
		}
	}
		