uWebshop.Starterkits.MVCStoreDemo/bin/
uWebshop.Starterkits.MVCStoreDemo/obj/
uWebshop.Starterkits.Sandbox/bin/
uWebshop.Starterkits.Sandbox/obj/
uWebshop.Starterkits.StoreDemo/bin/
uWebshop.Starterkits.StoreDemo/obj/
uWebshop.Starterkits.MVCStoreDemo/package/
uWebshop.Starterkits.MVCStoreDemo/package.zip
uWebshop.Starterkits.StoreDemo/package/
