<%@ Master Language="C#" MasterPageFile="~/masterpages/uwbsCheckout.master" AutoEventWireup="true" %>

	
<umbraco:Macro runat="server" language="cshtml">
		@RenderPage("~/macroScripts/uWebshopCheckoutCustomer.cshtml")
	</umbraco:Macro>