<%@ Master Language="C#" MasterPageFile="~/masterpages/uwbsProfile.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="ProfileModule" runat="server">
	<umbraco:Macro runat="server" language="cshtml">
		@RenderPage("~/macroScripts/CustomerOrders.cshtml")
	</umbraco:Macro>
</asp:content>